<template>
  <modal @close="closeModal" v-bind:visible="isModalVisible">
    <template v-slot:header>Project Settings</template>
    <template v-slot:body>
      <table class="table table-bordered table-responsive">
        <tbody>
          <tr>
            <th>Domain</th>
            <td>
              <input
                type="text"
                class="form-control"
                name="domain"
                :value="domain"
                @blur="updateDomain($event.target.value)"
              />
            </td>
          </tr>
          <tr>
            <th>PHP Version</th>
            <td>
              <select class="form-control" @change="updatePhpVersion($event.target.value)">
                <option
                  v-for="(label,value) in php_versions"
                  :key="value"
                  :value="value"
                  :selected="php_version == value"
                >{{label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>DB Environment</th>
            <td>
              <select class="form-control" @change="updateDbEnvironment($event.target.value)">
                <option
                  v-for="(label,value) in db_environments"
                  :key="value"
                  :value="value"
                  :selected="db_environment == value"
                >{{label}}</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </template>
  </modal>
</template>
<script>
import Modal from "src/components/Modal.vue";
import api from "src/services/api";
export default {
  name: "ProjectSettings",
  props: { project: {} },
  components: {
    Modal
  },
  data() {
    return {
      isModalVisible: false,
      domain: this.$props.project.domains[0].get('domain'),
      php_versions: this.$props.project.php_versions,
      db_environments: this.$props.project.db_environments,
      php_version: this.$props.project.php_version,
      db_environment: this.$props.project.db_environment
    };
  },
  methods: {
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    updateDomain(domain) {
      if (this.$props.project.main_domain.domain != domain) {
        api.updateDomain(this.$props.project.id, domain).then(result => {
          console.log(result);
        });
        this.$props.project.main_domain.domain = domain;
      }
    },
    updatePhpVersion(version) {
      if (this.$props.project.php_version != version) {
        api.updatePhpVersion(this.$props.project.id, version).then(result => {
          console.log(result);
        });
        this.$props.project.php_version = version;
      }
    },
    updateDbEnvironment(environment) {
      if (this.$props.project.db_environment != environment) {
        api
          .updateDbEnvironment(this.$props.project.id, environment)
          .then(result => {
            console.log(result);
          });
        this.$props.project.db_environment = environment;
      }
    }
  }
};
</script>