.content {
  &.projects {
    table {
      th,
      td {
        &.actions {
          width: 105px;
          padding-right: 0px;
          display: table-cell;
          a:first-child {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
