<template>
  <modal @close="closeModal" v-bind:visible="isModalVisible">
    <template v-slot:header>Add Php {{version}} Module</template>
    <template v-slot:body>
      <table class="table table-bordered add-php-module-table">
        <thead>
          <tr>
            <th class="w-25">Module</th>
            <th class="w-50">Description</th>
            <th class="w-25">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(php_mod, index) in details.modules_available" :key="index">
            <td>{{php_mod.name}}</td>
            <td>{{php_mod.desc}}</td>
            <td>
              <button
                @click="installPhpModule($event,php_mod.name);"
                :disabled="isInstallingPhpModule || installedModules[php_mod.name]"
                class="btn btn-primary"
              >Install</button>
            </td>
          </tr>
        </tbody>
      </table>
    </template>
  </modal>
</template>
<script>
import Modal from "src/components/Modal.vue";
import api from "src/services/api";
export default {
  name: "AddPhpModule",
  props: { server: {} },
  components: {
    Modal
  },
  data() {
    return {
      isModalVisible: false,
      version: false,
      details: {},
      installedModules: [],
      isInstallingPhpModule: false
    };
  },
  methods: {
    setVersionAndDetails(version, details) {
      this.version = version;
      this.details = details;
    },
    installPhpModule(event, mod) {
      this.isInstallingPhpModule = true;
      event.target.innerText = "Installing";
      api.installPhpModule(this.version, mod).then(server => {
        event.target.innerText = "Installed";
        this.isInstallingPhpModule = false;
        this.installedModules[mod] = true;
      });
    },
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    }
  }
};
</script>
<style scoped>
.btn-primary:disabled {
  color: #3472f7 !important;
}
</style>