<template>
  <div class="content projects">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div v-if="project.is_setup" class="project-cont">
            <h1 class="text-center">
              Project -
              <button
                class="link"
                @click="openProjectUrl($event, project.domains[0].get('domain'))"
              >{{project.name}}</button>
            </h1>
            <card class body-classes>
              <div class="col-12 pull-left project-content">
                <div class="row">
                  <div
                    v-for="(action, index) in project.actions"
                    :key="index"
                    class="col-3 pull-left text-center img-thumbnail"
                  >
                    <a
                      href="#"
                      v-on:click="handleAction($event, action)"
                      :title="(action.title ? action.title : action.label)"
                      class="btn btn-link ajaxAction"
                      v-if="action.active"
                    >
                      <fa-icon :icon="[action.icon_family, action.icon]" class="fa-5x" />
                      <h3>{{action.label}}</h3>
                    </a>
                  </div>
                </div>
              </div>
            </card>
          </div>
          <div v-else class="setup-cont">
            <h1 class="text-center">Project Setup - {{project.name}}</h1>
            <card class body-classes>
              <div class="col-12 pull-left project-content">
                <div class="row">
                  <div class="well col-12">
                    <button
                      :disabled="setupRunning"
                      @click="runSetup($event)"
                      class="btn btn-primary col-12"
                    >Setup Project</button>
                  </div>
                  <ul class="list-group list-group-root well w-100">
                    <li v-for="(step,index) in setupSteps" :key="index" class="list-group-item">
                      <fa-icon
                        :icon="(step.done ? 'check-circle' : 'times-circle')"
                        class="apache_status"
                      />
                      {{step.label}}
                    </li>
                  </ul>
                </div>
              </div>
            </card>
          </div>
        </div>
      </div>
    </div>
    <div class="modals">
      <div v-for="(action, index) in modals()" :key="index">
        <component :is="action.component" :ref="action.component" v-bind:project="project"></component>
      </div>
      <setup-progress ref="ProjectSetupProgress" />
    </div>
  </div>
</template>
<script>
import ProjectSettings from "src/components/Modals/ProjectSettings";
import SetupProgress from "src/components/Modals/Project/SetupProgress";
import fs from "fs";
import fsextra from "fs-extra";
import wsl from "src/services/wsl";
import dns from "dns";
import deployConfig from "src/services/deployConfig";
import project_env from "src/services/project_env";
import netbeans from "src/services/netbeans";
import { shell } from "electron";
const setupSteps = [
  {
    name: "installSiteFiles",
    label: "Install Site Files",
    setup_message: "Installing Site Files...",
    done: false
  },
  {
    name: "updateComposer",
    label: "Run Composer",
    setup_message: "Running Composer...",
    done: false
  },
  {
    name: "updateHostsFile",
    label: "Update Hosts File",
    setup_message: "Updating Hosts File...",
    done: false
  },
  {
    name: "updateApacheConfig",
    label: "Update Apache Config",
    setup_message: "Updating Apache Config...",
    done: false
  },
  {
    name: "setEnvironmentConfig",
    label: "Set Environment Config",
    setup_message: "Setting Environment Config...",
    done: false
  },
  {
    name: "setupNetbeans",
    label: "Setup Netbeans Project",
    setup_message: "Setting up Netbeans Project...",
    done: false
  }
];
export default {
  components: { ProjectSettings, SetupProgress },
  methods: {
    openProjectUrl(event, url) {
      event.preventDefault();
      shell.openExternal("https://" + url);
    },
    modals() {
      var modals = [];
      for (var i = 0; i < this.project.actions.length; i++) {
        if (this.project.actions[i].action == "modal") {
          modals.push(this.project.actions[i]);
        }
      }
      return modals;
    },
    handleAction(event, action) {
      event.preventDefault();
      if (action.action === "link") {
        shell.openExternal(action.link);
      } else if (action.action == "modal") {
        this.$refs[action.component][0].showModal();
      } else {
        api
          .handleAction(this.$route.params.id, action.action)
          .then(response => {
            if (response.status === "success") {
              this.$swal({
                title:
                  (action.title ? action.title : action.label) + " Successful",
                text: "Everything is good here.",
                icon: "success",
                timer: 2000
              });
            } else {
              this.$swal({
                title: (action.title ? action.title : action.label) + " Failed",
                text: "The action you tried to do failed for some reason.",
                icon: "warning",
                timer: 2000
              });
            }
          });
      }
    },
    runSetup(event) {
      this.setupRunning = true;
      event.target.innerText = "Running Setup...";
      const progressModal = this.$refs["ProjectSetupProgress"];
      progressModal.showModal();
      this.runSetupStep(2);
    },
    runSetupStep(step) {
      const action = setupSteps[step].name;
      const progressModal = this.$refs["ProjectSetupProgress"];
      if (this.setupSteps[step].done) {
        if (step < setupSteps.length - 1) {
          this.runSetupStep(step + 1);
        } else {
          progressModal.closeModal();
          this.project.is_setup = true;
          this.setupSteps = setupSteps;
        }
      } else {
        progressModal.setMessage(setupSteps[step].setup_message);
        this.performSetupStep(this.project, action).then(result => {
          this.setupSteps[step].done = true;
          if (step < setupSteps.length - 1) {
            this.runSetupStep(step + 1);
          } else {
            progressModal.closeModal();
            this.project.is_setup = true;
            this.setupSteps = setupSteps;
          }
        });
      }
    },
    performSetupStep(project, step) {
      const progressModal = this.$refs["ProjectSetupProgress"];
      return new Promise((resolve, reject) => {
        if (typeof this[step] === "function") {
          this[step](project, progressModal).then(() => {
            resolve();
          });
        } else {
          reject();
        }
      });
    },
    setupNetbeans(project, progressModal) {
      return new Promise((resolve, reject) => {
        this.directory(project).then(directory => {
          const propertiesFile = netbeans.propertiesFile(project);
          fsextra.outputFile(
            directory + "/nbproject/project.properties",
            propertiesFile,
            function(err) {
              if (err) reject();
              const projectFile = netbeans.projectFile(project);
              fsextra.outputFile(
                directory + "/nbproject/project.xml",
                projectFile,
                function(err) {
                  if (err) reject();
                  const privatePropertiesFile = netbeans.privatePropertiesFile(
                    project
                  );
                  fsextra.outputFile(
                    directory + "/nbproject/private/private.properties",
                    privatePropertiesFile,
                    function(err) {
                      if (err) reject();
                      const privateFile = netbeans.privateFile();
                      fsextra.outputFile(
                        directory + "/nbproject/private/private.xml",
                        privateFile,
                        function(err) {
                          if (err) reject();
                          resolve();
                        }
                      );
                    }
                  );
                }
              );
            }
          );
        });
      });
    },
    setEnvironmentConfig(project, progressModal) {
      const $this = this;
      return new Promise((resolve, reject) => {
        this.configFilePath(project).then(path => {
          var projectEnvFile = project_env.configFile(
            project,
            project.config_file.get("key")
          );
          fs.writeFile(path, projectEnvFile, function(err) {
            if (err) reject();
            resolve();
          });
        });
      });
    },
    updateApacheConfig(project, progressModal) {
      const $this = this;
      return new Promise((resolve, reject) => {
        wsl.createApacheFile(project).then(() => {
          wsl.enableProjectApacheConf(project).then(() => {
            resolve();
          });
        });
      });
    },
    installSiteFiles(project, progressModal) {
      const $this = this;
      return new Promise((resolve, reject) => {
        $this
          .dirExists(project)
          .then(() => {
            resolve();
          })
          .catch(() => {
            $this.$db.settings.then(settings => {
              settings = settings[0];
              progressModal.resetConsoleText();
              progressModal.showConsole();
              wsl.cloneProject(settings, project, progressModal).then(() => {
                progressModal.hideConsole();
                resolve();
              });
            });
          });
      });
    },
    updateComposer(project, progressModal) {
      const $this = this;
      return new Promise((resolve, reject) => {
        $this.$db.settings.then(settings => {
          settings = settings[0];
          $this
            .composerInstalled(settings, project)
            .then(() => {
              progressModal.resetConsoleText();
              progressModal.showConsole();
              wsl
                .updateProjectComposer(settings, project, progressModal)
                .then(() => {
                  progressModal.hideConsole();
                  resolve();
                });
              resolve();
            })
            .catch(() => {
              resolve();
            });
        });
      });
    },
    composerInstalled(settings, project) {
      return new Promise((resolve, reject) => {
        var projectDir = wsl.winProjectDir(settings, project);
        fs.stat(projectDir + "\\composer.json", function(err, stats) {
          if (!err && stats.isFile()) {
            resolve();
          } else {
            reject();
          }
        });
      });
    },
    updateHostsFile(project, progressModal) {
      const $this = this;
      return new Promise((resolve, reject) => {
        const domain = project.domains[0].get("domain");
        $this.addWinHostsDomain(domain).then(() => {
          wsl.addDomain(domain).then(() => {
            resolve();
          });
        });
      });
    },
    addWinHostsDomain(domain) {
      return new Promise((resolve, reject) => {
        wsl
          .winHostsDomainExists(domain)
          .then(() => {
            resolve();
          })
          .catch(() => {
            wsl
              .addWinHostsDomain(domain)
              .then(() => {
                resolve();
              })
              .catch(() => {
                reject();
              });
          });
      });
    },
    actions(project) {
      var actions = [
        {
          action: "modal",
          component: "ProjectSettings",
          label: "Settings",
          title: "Project Settings",
          icon: "cog",
          active: true,
          icon_family: "fas"
        },
        {
          action: "openNetbeans",
          label: "Netbeans",
          title: "Project Netbeans",
          icon: "cube",
          active: true,
          icon_family: "fas"
        },
        {
          action: "updateComposer",
          label: "Composer",
          title: "Update Composer",
          icon: "terminal",
          active: true,
          icon_family: "fas"
        },
        {
          action: "syncDatabase",
          label: "Sync Database",
          title: "Sync Database",
          icon: "database",
          active: project.db_environment == "local",
          icon_family: "fas"
        },
        {
          action: "openFolder",
          label: "Folder",
          title: "Project Folder",
          icon: "folder",
          active: true,
          icon_family: "fas"
        },
        {
          action: "link",
          link: `https://git.d3corp.com/${project.group.get("folder")}/${
            project.folder
          }`,
          label: "Gitlab",
          icon: "gitlab",
          active: true,
          icon_family: "fab"
        },
        {
          action: "link",
          link: `https://ops.d3corp.com/projects/${project.group.get(
            "folder"
          )}/${project.folder}`,
          label: "OPS",
          icon: "wrench",
          active: true,
          icon_family: "fas"
        },
        {
          action: "openTerminal",
          label: "Terminal",
          title: "Project Terminal",
          icon: "terminal",
          active: true,
          icon_family: "fas"
        },
        {
          action: "apacheLogs",
          label: "Apache Logs",
          icon: "server",
          active: true,
          icon_family: "fas"
        },
        {
          action: "clearApacheLogs",
          label: "Clear Apache",
          icon: "trash",
          active: true,
          icon_family: "fas"
        }
      ];
      return actions;
    },
    loadProject() {
      this.$db.projects
        .findByPk(this.$route.params.id, { include: { all: true } })
        .then(project => {
          project = project.get();
          const actions = this.actions(project);
          project.actions = [];
          actions.forEach(action => {
            if (action.active) {
              project.actions.push(action);
            }
          });
          project.php_versions = [];
          project.db_environments = [];
          this.directory(project).then(directory => {
            project.directory = directory;
            this.webDirectory(project).then(webDirectory => {
              project.web_directory = webDirectory;
              var dcPath = project.group.get("folder") + "/" + project.folder;
              deployConfig.get(dcPath).then(config => {
                project.deployConfig = config;
                if (!project.php_version) {
                  project.php_version = this.getDeployConfigPhpVersion(config);
                }
                if (!project.db_environment) {
                  project.db_environment = this.getDeployConfigDbEnv(config);
                }
                var phpVersions = {};
                var dbEnvironments = {};
                wsl.php_versions.forEach(version => {
                  phpVersions[version] = version;
                });
                var envVersions = {};
                Object.keys(config.environments).forEach(env => {
                  if (
                    !envVersions[config.environments[env].server.php_version]
                  ) {
                    envVersions[
                      config.environments[env].server.php_version
                    ] = [];
                  }
                  envVersions[config.environments[env].server.php_version].push(
                    config.environments[env].label
                  );
                  dbEnvironments[env] = config.environments[env].label;
                });
                dbEnvironments.local = "Local";
                Object.keys(envVersions).forEach(version => {
                  phpVersions[version] =
                    version + " (" + envVersions[version].join(", ") + ")";
                });
                project.php_versions = phpVersions;
                project.db_environments = dbEnvironments;
                this.$db.all_project_config_files.then(config_files => {
                  config_files.forEach(config_file => {
                    const cfBuildTasks = config_file.get(
                      "projects_config_files_build_tasks"
                    );
                    cfBuildTasks.forEach(cfTask => {
                      config.build_tasks.forEach(task => {
                        if (task == cfTask.get("build_task")) {
                          project.config_file = config_file;
                        }
                      });
                    });
                  });
                  console.log(project);
                  this.isSetup(project)
                    .then(() => {
                      project.is_setup = true;
                      this.project = project;
                    })
                    .catch(() => {
                      project.is_setup = false;
                      this.project = project;
                    });
                });
              });
            });
          });
        });
    },
    getDeployConfigPhpVersion(deployConfig) {
      if (deployConfig.environments.production.server.php_version) {
        return deployConfig.environments.production.server.php_version;
      }
      return deployConfig.environments.staging.server.php_version;
    },
    getDeployConfigDbEnv(deployConfig) {
      if (
        deployConfig.environments.production &&
        deployConfig.environments.production.db
      ) {
        return "production";
      }
      return "staging";
    },
    isSetup(project) {
      return new Promise((resolve, reject) => {
        var promises = [
          this.dirExists(project),
          this.composerSetup(project),
          this.hostsSetup(project),
          this.apacheConfigExists(project),
          this.envConfigExists(project),
          this.netbeansSetup(project)
        ];
        Promise.all(promises)
          .then(() => {
            resolve();
          })
          .catch(() => {
            reject();
          });
      });
    },
    netbeansSetup(project) {
      const $this = this;
      return new Promise((resolve, reject) => {
        this.directory(project).then(directory => {
          fs.stat(directory + "/nbproject", function(err, stats) {
            if (!err && stats.isDirectory()) {
              $this.setupSteps[5].done = true;
              resolve();
            } else {
              reject();
            }
          });
        });
      });
    },
    envConfigExists(project) {
      const $this = this;
      return new Promise((resolve, reject) => {
        this.configFilePath(project).then(path => {
          fs.stat(path, function(err, stats) {
            if (!err && stats.isFile()) {
              $this.setupSteps[4].done = true;
              resolve();
            } else {
              reject();
            }
          });
        });
      });
    },
    hostsSetup(project) {
      const $this = this;
      return new Promise((resolve, reject) => {
        const domain = project.domains[0].get("domain");
        wsl
          .winHostsDomainExists(domain)
          .then(() => {
            wsl
              .domainExists(domain)
              .then(() => {
                $this.setupSteps[2].done = true;
                resolve();
              })
              .catch(() => {
                reject();
              });
          })
          .catch(() => {
            reject();
          });
      });
    },
    composerSetup(project) {
      const $this = this;
      return new Promise((resolve, reject) => {
        this.directory(project).then(directory => {
          fs.stat(directory + "/vendor/autoload.php", function(err, stats) {
            if (!err && stats.isFile()) {
              $this.setupSteps[1].done = true;
              resolve();
            } else {
              reject();
            }
          });
        });
      });
    },
    apacheConfigExists(project) {
      const $this = this;
      return new Promise((resolve, reject) => {
        wsl
          .exec(`cat /etc/apache2/sites-available/project.${project.id}.conf`)
          .then(d => {
            $this.setupSteps[3].done = true;
            resolve();
          })
          .catch(e => {
            reject();
          });
      });
    },
    dirExists(project) {
      const $this = this;
      return new Promise((resolve, reject) => {
        this.directory(project).then(directory => {
          fs.stat(directory, function(err, stats) {
            if (!err && stats.isDirectory()) {
              $this.setupSteps[0].done = true;
              resolve();
            } else {
              reject();
            }
          });
        });
      });
    },
    directory(project) {
      return new Promise(resolve => {
        this.$db.settings.then(settings => {
          settings = settings[0];
          resolve(
            settings.project_dir +
              "/" +
              project.group.get("folder") +
              "/" +
              project.folder
          );
        });
      });
    },
    webDirectory(project) {
      return new Promise(resolve => {
        this.directory(project).then(directory => {
          fs.stat(directory + "/web", function(err, stats) {
            if (!err && stats.isDirectory()) {
              resolve(directory + "/web");
            } else {
              fs.stat(directory + "/public", function(err, stats) {
                if (!err && stats.isDirectory()) {
                  resolve(directory + "/public");
                } else {
                  resolve(directory);
                }
              });
            }
          });
        });
      });
    },
    configFilePath(project) {
      return new Promise(resolve => {
        this.directory(project).then(directory => {
          switch (project.config_file.get("key")) {
            case "bs":
              fs.stat(directory + "/app/config", function(err, stats) {
                if (!err && stats.isDirectory()) {
                  resolve(directory + "/app/config/config.env.php");
                } else {
                  resolve(directory + "/config/config.env.php");
                }
              });
              break;
            case "wp_env":
              resolve(directory + "/.env");
              break;
            case "wp_php":
              resolve(directory + "/env.php");
              break;
            case "mag":
              resolve(directory + "/app/etc/local.xml");
              break;
          }
        });
      });
    }
  },
  created() {
    this.loadProject();
  },
  data() {
    return {
      project: {
        actions: [],
        is_setup: true
      },
      setupRunning: false,
      setupSteps: setupSteps
    };
  }
};
</script>
<style>
.btn-link {
  border: none;
  text-decoration: none !important;
}
.btn-primary:disabled {
  color: #3472f7 !important;
}
.link {
  background: none !important;
  border: none;
  color: #069;
  cursor: pointer;
}
</style>
