<template>
  <div class="content projects">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Projects</h1>
          <card class="strpied-tabled-with-hover" body-classes="table-full-width table-responsive">
            <template slot="header">
              <h4 class="card-title">
                <em>Filter</em> [
                <a href="#/projects" v-on:click="filterProjects($event, false)">show all</a>]
              </h4>
              <ul class="nav nav-pills">
                <li v-for="char in alphabet" :key="char" class="nav-item">
                  <a
                    href="#/projects"
                    v-on:click="filterProjects($event, char)"
                    v-bind:class="{'nav-link':true, 'active':isActive(char)}"
                  >{{char}}</a>
                </li>
              </ul>
            </template>
            <l-table
              class="table-hover table-bordered table-striped"
              :columns="table.columns"
              :data="table.data"
            ></l-table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import LTable from "src/components/Table.vue";
import Card from "src/components/Cards/Card.vue";

const tableColumns = [
  { field: "name", label: "Name", type: "text" },
  { field: "type", label: "Type", type: "object", object_field: "name" },
  {
    field: "domains",
    label: "Domain(s)",
    type: "objects",
    object_field: "domain"
  },
  { field: "actions", label: "", type: "actions" }
];
const tableData = [];
var curChar = false;
export default {
  components: {
    LTable,
    Card
  },
  mounted: function() {
    this.$root.$on("updateProjects", () => {
      this.getProjects();
    });
  },
  methods: {
    isActive(char) {
      return curChar == char;
    },
    filterProjects(event, char) {
      event.preventDefault();
      curChar = char;
      this.setTableData();
    },
    setTableData() {
      this.table.data = [];
      if (curChar === false) {
        this.table.data = this.projects;
        return;
      }
      for (var i = 0; i < this.projects.length; i++) {
        if (this.projects[i].name.charAt(0).toUpperCase() == curChar) {
          this.table.data.push(this.projects[i]);
        }
      }
    },
    getProjects() {
      const $this = this;
      this.$db.projects
        .findAll({ include: [{ all: true }] })
        .then(projects => {
          for (var i = 0; i < projects.length; i++) {
            projects[i] = projects[i].get();
          }
          $this.table.data = projects;
        })
        .catch(() => {});
    }
  },
  created() {
    this.getProjects();
  },
  data() {
    return {
      table: {
        columns: [...tableColumns],
        data: [...tableData]
      },
      alphabet: [..."ABCDEFGHIJKLMNOPQRSTUVWXYZ"],
      curChar: curChar
    };
  }
};
</script>
<style>
</style>
