<template>
  <div class="content server">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Lops Server</h1>
          <card class="text-center" body-classes>
            <template slot="header">
              <h3>Actions</h3>
            </template>
            <button
              :disabled="serverRestarting"
              @click="restartServer()"
              class="btn btn-primary controlEnvironment"
              title="Restart"
            >
              <fa-icon icon="sync" :spin="serverRestarting" />
              {{serverRestarting ? 'Restarting...' : 'Restart'}}
            </button>
            <button
              @click="openTerminal()"
              class="btn btn-primary controlEnvironment"
              title="Show Terminal"
            >
              <fa-icon icon="terminal" />Terminal
            </button>
          </card>
          <card class="text-center" body-classes>
            <template slot="header">
              <h3>Details</h3>
            </template>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>Ubuntu</td>
                  <td>
                    <table>
                      <tbody v-if="distLoading">
                        <tr>
                          <td colspan="3" style="display:table-cell;">
                            <fa-icon icon="sync" spin />Loading...
                          </td>
                        </tr>
                      </tbody>
                      <tbody v-else>
                        <tr>
                          <td>Distributor ID: {{server.dist_id}}</td>
                          <td>Description: {{server.dist_desc}}</td>
                          <td>LTS Release: {{server.dist_release}}</td>
                          <td>Codename: {{server.dist_codename}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>IP Address</td>
                  <td>127.0.0.1</td>
                </tr>
                <tr>
                  <td>Apache</td>
                  <td>
                    <table>
                      <tbody v-if="apacheLoading">
                        <tr>
                          <td colspan="3" style="display:table-cell;">
                            <fa-icon icon="sync" spin />Loading...
                          </td>
                        </tr>
                      </tbody>
                      <tbody v-else>
                        <tr>
                          <td>
                            Status:
                            <fa-icon
                              :icon="(server.apache_running ? 'check-circle' : 'times-circle')"
                              class="apache_status"
                            />
                            {{server.apache_running ? 'Running' : 'Not Running'}}
                          </td>
                          <td>Version: {{server.apache_version}}</td>
                          <td>Build Date: {{server.apache_build_date}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>PHP</td>
                  <td>
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Version</th>
                          <th>Fpm Status</th>
                          <th>Modules</th>
                        </tr>
                      </thead>
                      <tbody v-if="phpLoading">
                        <tr>
                          <td colspan="3" style="display:table-cell;">
                            <fa-icon icon="sync" spin />Loading...
                          </td>
                        </tr>
                      </tbody>
                      <tbody v-else>
                        <tr v-for="(details, version) in phpVersions" :key="version">
                          <td>{{version}}</td>
                          <td>
                            <fa-icon
                              :icon="(details.fpm_status ? 'check-circle' : 'times-circle')"
                              class="apache_status"
                            />
                            {{details.fpm_status ? 'Running' : 'Not Running'}}
                          </td>
                          <td>
                            <ul class="php_methods">
                              <li v-for="php_mod in details.modules" :key="php_mod">{{php_mod}}</li>
                            </ul>
                            <button
                              @click="addPhpModule(version, details)"
                              class="btn btn-primary"
                            >Add Module</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </card>
        </div>
      </div>
    </div>
    <add-php-module ref="AddPhpModule" v-bind:server="server" />
  </div>
</template>
<script>
import api from "src/services/api";
import wsl from "src/services/wsl";
import AddPhpModule from "src/components/Modals/Server/AddPhpModule";
import { setTimeout } from "timers";
export default {
  components: { AddPhpModule },
  methods: {
    restartServer() {
      const $this = this;
      this.serverRestarting = true;
      wsl
        .restartServer()
        .then(() => {
          setTimeout(function() {
            $this.loadDetails();
          }, 500);
          $this.serverRestarting = false;
        })
        .catch(e => {
          console.log(e);
        });
    },
    openTerminal() {
      wsl
        .openShell()
        .then(() => {})
        .catch(() => {});
    },
    loadDetails() {
      const $this = this;
      wsl
        .phpVersions()
        .then(php_versions => {
          $this.phpVersions = php_versions;
          $this.phpLoading = false;
        })
        .catch(() => {});
      wsl
        .dist()
        .then(release => {
          $this.server.dist_id = release.dist_id;
          $this.server.dist_desc = release.dist_desc;
          $this.server.dist_release = release.dist_release;
          $this.server.dist_codename = release.dist_codename;
          $this.distLoading = false;
        })
        .catch(function() {});
      wsl
        .apacheStatus()
        .then(status => {
          $this.server.apache_running = status.apache_running;
        })
        .catch(() => {});
      wsl
        .apacheDetails()
        .then(details => {
          $this.server.apache_version = details.apache_version;
          $this.server.apache_build_date = details.apache_build_date;
          $this.apacheLoading = false;
        })
        .catch(() => {});
    },
    addPhpModule(version, details) {
      this.$refs["AddPhpModule"].setVersionAndDetails(version, details);
      this.$refs["AddPhpModule"].showModal();
    }
  },
  created() {
    this.loadDetails();
  },
  data() {
    return {
      distLoading: true,
      apacheLoading: true,
      phpLoading: true,
      serverRestarting: false,
      phpVersions: {},
      server: {
        dist_id: "",
        dist_desc: "",
        dist_release: "",
        dist_codename: "",
        apache_running: "",
        apache_build_date: "",
        apache_version: ""
      }
    };
  }
};
</script>
<style>
.apache_status.fa-check-circle {
  color: green;
}
.apache_status.fa-times-circle {
  color: red;
}
.php_methods {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 0px;
  list-style: none;
}
.controlEnvironment {
  margin-right: 10px;
}
</style>
