<template>
  <div class="content settings">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">LOPS Settings</h1>
          <card class="text-center" body-classes>
            <template slot="header">
              <h3>Project</h3>
            </template>
            <label class="w-100">
              Root Project Directory
              <input
                type="text"
                class="form-control"
                @blur="updateProjectDirectory($event.target.value)"
                :value="settings.project_dir"
              />
            </label>
          </card>
          <card class="text-center" body-classes>
            <template slot="header">
              <h3>Gitlab</h3>
            </template>
            <label class="w-100">
              Access Token
              <input
                type="text"
                class="form-control"
                @blur="updateGitlabToken($event.target.value)"
                :value="settings.gitlab_token"
              />
            </label>
            <label class="w-100">
              Gitlab Api Status:
              <p class="gitlab-status">
                <fa-icon
                  :icon="(gitlabApiConnected ? 'check-circle' : 'times-circle')"
                  class="apache_status"
                />
                {{gitlabApiConnected ? 'Connected' : 'Not Connected'}}
              </p>
            </label>
            <label class="w-100">Gitlab SSH Key</label>
            <div class="copyIcon">
              <button @click="copyCode($event, 'copy-gitlab-ssh-key')" class="btn btn-primary">
                <fa-icon v-if="gitlabSshCopyIcon" icon="copy" />
                <fa-icon v-if="!gitlabSshCopyIcon" icon="check" />
              </button>
            </div>
            <code id="copy-gitlab-ssh-key">{{gitlabSshKey}}</code>
            <label class="w-100">
              Gitlab Ssh Status:
              <p class="gitlab-status">
                <fa-icon
                  :icon="(gitlabSshConnected ? 'check-circle' : 'times-circle')"
                  class="apache_status"
                />
                {{gitlabSshConnected ? 'Connected' : 'Not Connected'}}
              </p>
            </label>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from "src/services/api";
import gitlab from "src/services/gitlab";
export default {
  components: {},
  methods: {
    loadSettings() {
      const $this = this;
      this.$db.settings.then(function(settings) {
        $this.settingsModal = settings[0];
        $this.settings = settings[0].get();
      });
    },
    copyCode(event, ele_id) {
      var link = event.target;
      var el = document.createElement("textarea");
      el.value = document.getElementById(ele_id).innerText;
      el.readOnly = true;
      el.style.position = "absolute";
      el.style.left = "-9999px";
      document.body.appendChild(el);
      el.select();
      document.execCommand("copy");
      document.body.removeChild(el);
      this.gitlabSshCopyIcon = false;
      const $this = this;
      setTimeout(function() {
        $this.gitlabSshCopyIcon = true;
      }, 2000);
    },
    updateProjectDirectory(directory) {
      this.settingsModal.update({ project_dir: directory });
    },
    updateGitlabToken(token) {
      this.settingsModal.update({ gitlab_token: token });
    }
  },
  created() {
    const $this = this;
    this.loadSettings();
    gitlab.sshKey().then(function(key) {
      $this.gitlabSshKey = key;
    });
    gitlab.apiConnected().then(function(key) {
      $this.gitlabApiConnected = key;
    });
    gitlab.sshConnected().then(function(key) {
      $this.gitlabSshConnected = key;
    });
  },
  data() {
    return {
      settings: {},
      gitlabSshCopyIcon: true,
      gitlabSshKey: "",
      gitlabApiConnected: false,
      gitlabSshConnected: false
    };
  }
};
</script>
<style>
.apache_status {
  margin-right: 5px;
}
.gitlab-status {
  padding-top: 10px;
  margin-bottom: 0px;
}
.copyIcon {
  background: black;
  margin-right: 2px;
}
.copyIcon .btn {
  float: right;
  z-index: 999;
  position: relative;
}
#copy-gitlab-ssh-key {
  background: black;
  line-height: 1;
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
}
</style>
