<template>
  <div class="content setup">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">LOPS Setup</h1>
          <card class="text-center" body-classes>
            <template slot="header">
              <h3>Setup Steps</h3>
            </template>
            <table class="table table-striped table-bordered">
              <tr>
                <th>Step</th>
                <th>Action</th>
              </tr>
              <tr v-for="(step, name) in setupSteps" :key="name">
                <td>{{step.text}}</td>
                <td>
                  <button
                    class="btn btn-primary"
                    :disabled="btnDisabled(step)"
                    v-on:click="handleStep($event, name)"
                  >{{btnText(step)}}</button>
                </td>
              </tr>
            </table>
          </card>
        </div>
      </div>
    </div>
    <setup-progress ref="LopsSetupProgress" />
  </div>
</template>
<script>
import setup from "../setup";
import SetupProgress from "src/components/Modals/Project/SetupProgress";
export default {
  components: { SetupProgress },
  methods: {
    btnDisabled(step) {
      if (step.done || step.running || step.checking) {
        return true;
      }
      return false;
    },
    btnText(step) {
      if (step.done) {
        return step.btnDoneText;
      }
      if (step.running) {
        return step.btnRunningText;
      }
      if (step.checking) {
        return "Checking...";
      }
      return step.btnText;
    },
    handleStep(event, step_name) {
      const step = this.setupSteps[step_name];
      const $this = this;
      $this.$swal(step.confirmOpts).then(result => {
        var customCheck = true;
        switch (step_name) {
          case "install_d3vpn_script":
            if (!result.value || !result.value.path) {
              customCheck = false;
            }
            break;
        }
        if (result.value && customCheck) {
          step.running = true;
          setup[step.handleFunction](this.$refs["LopsSetupProgress"], result.value).then(
            function() {
              step.running = false;
              step.done = true;
              $this.$swal(step.successOpts);
              if (step.requiresRestart) {
                setup.restartComputer().then(
                  function() {},
                  function() {
                    $this.$swal(step.restartFailedOpts);
                  }
                );
              }
            },
            function() {
              step.running = false;
              $this.$swal(step.failedOpts);
            }
          );
        } else {
          if (!customCheck) {
            switch (step_name) {
              case "install_d3vpn_script":
                $this.$swal({
                  title: "Error",
                  text:
                    "Please upload your config file from vpn.d3corp.com before clicking the install button!",
                  type: "error"
                });
                break;
            }
          }
        }
      });
    }
  },
  created() {
    const $this = this;
    setup
      .isSetup()
      .then(function() {
        $this.$router.push("/");
      })
      .catch(function() {});
  },
  data() {
    return {
      setupSteps: setup.steps
    };
  }
};
</script>
<style>
</style>
