
<template>
  <transition name="modal-fade">
    <div :class="{'modal':true, 'show':this.$props.visible}" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              <slot name="header">This is the default title!</slot>
            </h5>
            <button type="button" class="close" @click="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <slot name="body">I'm the default body!</slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: "Modal",
  props: { visible: false },
  methods: {
    close() {
      this.$emit("close");
    }
  }
};
</script>
<style>
.modal.show {
  display: block;
}
.modal {
  overflow-y: auto;
}
.modal-dialog {
  max-width: 81% !important;
  margin: 0 !important;
  float: right;
  width: 100% !important;
}
</style>