<template>
  <table class="table">
    <thead>
      <slot name="columns">
        <tr>
          <th
            v-for="column in columns"
            :key="column.field"
            v-bind:class="column.field"
          >{{column.label}}</th>
        </tr>
      </slot>
    </thead>
    <tbody v-if="data.length" name="fade" is="transition-group">
      <tr v-for="item in data" :key="item.id">
        <slot :row="item">
          <td v-for="column in columns" :key="column.field" v-bind:class="column.field">
            {{itemValue(item, column)}}
            <a
              v-if="column.type === 'actions'"
              :href="'#/project/'+item.id"
              class="btn btn-sm btn-primary"
              title="View"
            >
              <fa-icon icon="eye"></fa-icon>
            </a>
            <a
              v-if="column.type === 'actions'"
              :href="'#/project/'+item.id"
              class="btn btn-sm btn-primary"
              title="Delete"
            >
              <fa-icon icon="trash"></fa-icon>
            </a>
          </td>
        </slot>
      </tr>
    </tbody>
    <tbody v-else name="fade" is="transition-group">
      <tr>
        <td colspan="4" style="display:table-cell;">
          <p
            class="alert alert-info"
          >No Projects currently installed. Please use the search bar at the top to find a project and install it.</p>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {
  name: "l-table",
  props: {
    columns: Array,
    data: Array
  },
  methods: {
    itemValue(item, column) {
      switch (column.type) {
        case "actions":
          return "";
        case "object":
          return item[column.field][column.object_field];
        case "objects":
          var text = "";
          for (var i = 0; i < item[column.field].length; i++) {
            text += item[column.field][i][column.object_field];
          }
          return text;
        default:
          return item[column.field];
      }
    }
  }
};
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
