<template>
  <modal @close="closeModal" v-bind:visible="isModalVisible" class="add-project-modal">
    <template v-slot:header>Add Project</template>
    <template v-slot:body>
      <form @submit.prevent="handleSubmit">
        <table class="table table-bordered add-project">
          <tbody>
            <tr>
              <th>GitLab Project</th>
              <td>
                <button
                  class="link"
                  @click="openGitlabUrl($event, gitlab_project.web_url)"
                  target="_blank"
                >{{gitlab_project_name}} ({{gitlab_project.path_with_namespace}})</button>
              </td>
            </tr>
            <tr v-if="gitlab_project.site_url">
              <th>Site Url</th>
              <td>
                <a :href="gitlab_project.site_url" target="_blank">{{gitlab_project.site_url}}</a>
              </td>
            </tr>
            <tr>
              <th>Project Type</th>
              <td>{{gitlab_project.type_name ? gitlab_project.type_name : 'N/A'}}</td>
            </tr>
            <tr>
              <th>Name</th>
              <td>
                <input
                  type="text"
                  class="form-control"
                  v-model="gitlab_project.p_name"
                  :disabled="isSavingProject"
                />
              </td>
            </tr>
            <tr>
              <th>Folder</th>
              <td>
                <input
                  type="text"
                  class="form-control"
                  v-model="gitlab_project.folder"
                  :disabled="isSavingProject"
                />
              </td>
            </tr>
            <tr>
              <th>Domain</th>
              <td>
                <input
                  type="text"
                  class="form-control"
                  v-model="gitlab_project.domain"
                  :disabled="isSavingProject"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary float-right" :disabled="isSavingProject">{{saveBtnText}}</button>
      </form>
    </template>
  </modal>
</template>
<script>
import Modal from "src/components/Modal.vue";
import { shell } from "electron";
import fs from "fs";
const defaultSaveBtnText = "Save Project";
export default {
  name: "AddProject",
  components: {
    Modal
  },
  data() {
    return {
      isModalVisible: false,
      gitlab_project: {},
      gitlab_project_name: "",
      isSavingProject: false,
      saveBtnText: defaultSaveBtnText,
      errors: []
    };
  },
  methods: {
    openGitlabUrl(event, url) {
      event.preventDefault();
      shell.openExternal(url);
    },
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    setGitlabProject(gitlab_project) {
      this.gitlab_project = gitlab_project;
      this.gitlab_project_name = gitlab_project.p_name;
    },
    handleSubmit() {
      this.isSavingProject = true;
      this.saveBtnText = "Saving...";
      const $this = this;
      const data = {
        repo_id: this.gitlab_project.id,
        type_id: this.gitlab_project.type_id,
        name: this.gitlab_project.p_name,
        folder: this.gitlab_project.folder,
        domain: this.gitlab_project.domain
      };
      this.errors = [];
      ["repo_id", "type_id", "name", "folder", "domain"].forEach(field => {
        if (!data[field]) {
          this.errors.push(field);
        }
      });

      if (!$this.errors.length) {
        $this.$db.settings.then(settings => {
          settings = settings[0];
          if (
            fs.existsSync(
              settings.project_dir +
                "/" +
                $this.gitlab_project.namespace.path +
                "/" +
                data.folder
            )
          ) {
            $this.$swal({
              title: "Error",
              text:
                "The folder already exists on your computer. Please enter a different folder",
              icon: "warning"
            });
            $this.isSavingProject = false;
            $this.saveBtnText = defaultSaveBtnText;
          } else {
            $this.$db.projects_domains
              .findOne({ where: { domain: data.domain } })
              .then(domain => {
                if (domain) {
                  $this.$swal({
                    title: "Error",
                    text:
                      "The domain already exists in lops. Please enter a different domain",
                    icon: "warning"
                  });
                  $this.isSavingProject = false;
                  $this.saveBtnText = defaultSaveBtnText;
                } else {
                  $this.$db.projects_groups
                    .findOrCreate({
                      where: { repo_id: $this.gitlab_project.namespace.id },
                      defaults: {
                        repo_id: $this.gitlab_project.namespace.id,
                        name: $this.gitlab_project.namespace.name,
                        folder: $this.gitlab_project.namespace.path
                      }
                    })
                    .then(group => {
                      group = group[0];
                      $this.$db.projects
                        .create({
                          group_id: group.get("id"),
                          repo_url: $this.gitlab_project.ssh_url_to_repo,
                          type_id: data.type_id,
                          repo_id: data.repo_id,
                          name: data.name,
                          folder: data.folder
                        })
                        .then(project => {
                          $this.$db.projects_domains
                            .create({
                              project_id: project.get("id"),
                              domain: data.domain,
                              main: 1,
                              ssl: 1
                            })
                            .then(() => {
                              $this.isSavingProject = false;
                              $this.saveBtnText = defaultSaveBtnText;
                              $this.$swal({
                                title: "Success",
                                text: "The project was created successfully.",
                                icon: "success"
                              });
                              $this.closeModal();
                              $this.$root.$emit("updateProjects");
                            });
                        });
                    });
                }
              });
          }
        });
      } else {
        this.isSavingProject = false;
        this.saveBtnText = defaultSaveBtnText;
        this.$swal({
          title: "Error",
          text: "Please fill in all fields",
          icon: "warning"
        });
      }
    }
  }
};
</script>
<style scoped>
.add-project th {
  width: 20%;
}
.add-project-modal {
  margin-top: 170px;
}
.link {
  background: none !important;
  border: none;
  color: #069;
  cursor: pointer;
}
</style>