<template>
  <modal @close="closeModal" v-bind:visible="isModalVisible" class="setup-progress">
    <template v-slot:header>Setup Status</template>
    <template v-slot:body>
      <fa-icon icon="spinner" spin pulse size="3x" class="float-left" />
      <p class="alert alert-info col-11 float-left setup-message">{{setup_message}}</p>
      <div v-if="progressBar" class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          :aria-valuenow="curProgress()"
          aria-valuemin="0"
          aria-valuemax="100"
          :style="{width: ((curProgress())+'%')}"
        >
          <div>{{curProgress()}}%</div>
          <div>{{curSpeed()}}</div>
          <div>{{curSize()}}</div>
          <div>Time Spent: {{curTimeSpent()}}</div>
          <div>Time Remaining: {{curTimeRemaining()}}</div>
        </div>
      </div>
      <pre v-if="show_console" class="console" v-html="consoleText"></pre>
    </template>
  </modal>
</template>
<script>
import Modal from "src/components/Modal.vue";
export default {
  name: "SetupProgress",
  props: { message: String },
  components: {
    Modal
  },
  data() {
    return {
      isModalVisible: false,
      setup_message: this.$props.message,
      progressBar: false,
      show_console: false,
      consoleText: "",
      progress: {
        percent: 0,
        speed: 0,
        size: {
          total: 0,
          transferred: 0
        },
        time: {
          elapsed: 0,
          remaining: 0
        }
      }
    };
  },
  methods: {
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    setMessage(message) {
      this.setup_message = message;
    },
    showProgressBar() {
      this.progressBar = true;
    },
    hideProgressBar() {
      this.progressBar = false;
    },
    setProgress(progress) {
      this.progress = progress;
    },
    resetProgress() {
      this.progress = {
        percent: 0,
        speed: 0,
        size: {
          total: 0,
          transferred: 0
        },
        time: {
          elapsed: 0,
          remaining: 0
        }
      };
    },
    finishProgress() {
      this.progress.percent = 1;
      this.progress.size.transferred = this.progress.size.total;
      this.progress.time.remaining = 0;
    },
    curProgress() {
      return (this.progress.percent * 100).toFixed(2);
    },
    curSpeed() {
      if (this.progress.speed > 1000000) {
        return (this.progress.speed * 0.000001).toFixed(2) + "MB/s";
      }
      return (this.progress.speed * 0.001).toFixed(2) + "KB/s";
    },
    curSize() {
      const sizeTransferred = this.progress.size.transferred;
      const sizeTotal = this.progress.size.total;
      let xferred, xferredType, total, totalType;
      if (sizeTransferred >= 1000000000) {
        xferred = (sizeTransferred * 0.000000001).toFixed(2);
        xferredType = "GB";
      } else if (sizeTransferred >= 1000000) {
        xferred = (sizeTransferred * 0.000001).toFixed(2);
        xferredType = "MB";
      } else {
        xferred = (sizeTransferred * 0.001).toFixed(2);
        xferredType = "KB";
      }
      if (sizeTotal >= 1000000000) {
        total = (sizeTotal * 0.000000001).toFixed(2);
        totalType = "GB";
      } else if (sizeTotal >= 1000000) {
        total = (sizeTotal * 0.000001).toFixed(2);
        totalType = "MB";
      } else {
        total = (sizeTotal * 0.001).toFixed(2);
        totalType = "KB";
      }
      return (
        xferred + xferredType + " out of " + total + totalType + " downloaded"
      );
    },
    curTimeSpent() {
      return this.progress.time ? this.progress.time.elapsed + " sec" : "";
    },
    curTimeRemaining() {
      return this.progress.time ? this.progress.time.remaining + " sec" : "";
    },
    showConsole() {
      this.show_console = true;
    },
    hideConsole() {
      this.show_console = false;
    },
    appendConsoleText(text) {
      this.consoleText = text + "<br/>" + this.consoleText;
    },
    resetConsoleText() {
      this.consoleText = "";
    }
  }
};
</script>
<style scoped>
.setup-progress {
  margin-top: 57px;
}
.setup-message {
  font-size: 27px;
}
.progress {
  width: 92%;
  margin-left: 48px;
  height: auto;
  background-color: grey;
}
.console {
  width: 91%;
  margin-left: 53px;
  background: black;
  color: white;
  height: 300px;
  line-height: 15px;
  padding-top: 10px;
  padding-left: 10px;
}
</style>