<template>
  <div class="wrapper">
    <side-bar>
      <sidebar-link to="/projects">
        <fa-icon icon="globe" />
        <p>Projects</p>
      </sidebar-link>
      <sidebar-link to="/server">
        <fa-icon icon="server" />
        <p>Server</p>
      </sidebar-link>
      <sidebar-link to="/settings">
        <fa-icon icon="cog" />
        <p>Settings</p>
      </sidebar-link>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <app-content @click="toggleSidebar"></app-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">
</style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import AppContent from "./Content.vue";
export default {
  components: {
    TopNavbar,
    ContentFooter,
    AppContent
  },
  methods: {
    toggleSidebar() {
      this.$store.commit("sidebar/toggleSidebar");
    }
  }
};
</script>
