<template>
  <footer class="footer">
    <div class="container-fluid">
      <nav>
        <ul class="footer-menu">
          <li>
            <router-link :to="{path:'/'}">D3 Lops</router-link>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</template>
<script>
  export default {}

</script>
<style>

</style>
