<template>
  <div class="wrapper">
    <div class="main-panel setup-panel">
      <setup></setup>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">
.main-panel.setup-panel {
  width: 100%;
}
</style>
<script>
import ContentFooter from "./ContentFooter.vue";
import AppContent from "./Content.vue";
import Setup from "../pages/Setup.vue";
export default {
  components: {
    ContentFooter,
    AppContent,
    Setup
  },
  methods: {}
};
</script>
