<template>
  <nav class="navbar navbar-expand-lg" style="-webkit-app-region: drag">
    <div class="container-fluid">
      <button
        type="button"
        class="navbar-toggler navbar-toggler-left"
        :class="{toggled: $sidebar.showSidebar}"
        aria-controls="navigation-index"
        aria-expanded="false"
        aria-label="Toggle navigation"
        @click="toggleSidebar"
      >
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <div class="search">
          <label>
            <fa-icon icon="search" />
            <input
              id="gitlabSearchField"
              type="text"
              @input="gitlabSearch($event)"
              placeholder="search"
              class="form-control"
            />
          </label>
          <ul v-if="gitlab_results.length" class="results">
            <li
              v-for="(result,index) in gitlab_results"
              :key="index"
              @click="addGitlabProject(result)"
            >{{result.p_name}}</li>
          </ul>
        </div>
        <ul class="navbar-nav ml-auto">
          <li v-if="checking_vpn" class="nav-item">Checking Vpn status...</li>
          <li v-if="vpn_needed" class="nav-item">
            <a
              class="nav-link vpn"
              href="#"
              :title="'Click to '+(vpn_connected ? 'Disconnect' : 'Connect')"
              v-on:click="toggleVpn($event)"
            >
              VPN
              <fa-icon icon="power-off" :class="{'vpn-link-icon':true, 'connected':vpn_connected}" />
            </a>
          </li>
          <li v-else-if="!checking_vpn" class="nav-item">In Office</li>
        </ul>
      </div>
    </div>
    <add-project ref="AddProjectModal" />
  </nav>
</template>
<script>
import vpn from "src/services/vpn";
import gitlab from "src/services/gitlab";
import AddProject from "src/components/Modals/Project/Add";
import deployConfig from "src/services/deployConfig";
export default {
  components: {
    AddProject
  },
  created() {
    this.getVpnStatus();
  },
  data() {
    return {
      vpn_connected: false,
      vpn_needed: false,
      checking_vpn: true,
      gitlab_results: []
    };
  },
  methods: {
    toggleSidebar() {
      this.$store.commit("sidebar/toggleSidebar");
    },
    toggleVpn() {
      const $this = this;
      vpn
        .isNeeded()
        .then(function() {
          vpn
            .isConnected()
            .then(function() {
              vpn.disconnect().then(() => {
                $this.$swal({
                  title: "VPN",
                  text: "Successfully Disconnected",
                  type: "success",
                  timer: 2000
                });
                $this.vpn_connected = false;
              });
            })
            .catch(function() {
              vpn.connect().then(() => {
                $this.$swal({
                  title: "VPN",
                  text: "Successfully Connected",
                  type: "success",
                  timer: 2000
                });
                $this.vpn_connected = true;
              });
            });
        })
        .catch(function() {});
    },
    getVpnStatus() {
      const $this = this;
      vpn
        .isNeeded()
        .then(function() {
          $this.vpn_needed = true;
          vpn
            .isConnected()
            .then(function() {
              $this.checking_vpn = false;
              $this.vpn_connected = true;
            })
            .catch(function() {
              $this.checking_vpn = false;
              $this.vpn_connected = false;
            });
        })
        .catch(function() {
          $this.checking_vpn = false;
          $this.vpn_needed = false;
          $this.vpn_connected = false;
        });
    },
    gitlabSearch(event) {
      const term = event.target.value;
      const $this = this;
      if (term.length > 2) {
        gitlab
          .search(term)
          .then(results => {
            $this.gitlab_results = results;
          })
          .catch(() => {});
      }
    },
    addGitlabProject(gitlab_project) {
      this.gitlab_results = {};
      document.getElementById("gitlabSearchField").value = "";
      const $this = this;
      deployConfig
        .get(gitlab_project.path_with_namespace)
        .then(deployConfig => {
          $this.$db.all_project_types.then(types => {
            types.forEach(type => {
              type.get("projects_types_deploy_config_types").forEach(dcType => {
                if (
                  dcType.get("deploy_config_key") == deployConfig.project_type
                ) {
                  gitlab_project.type_id = type.get("id");
                  gitlab_project.type_name = type.get("name");
                }
              });
            });
            gitlab_project.deploy_config = deployConfig;
            $this.$refs["AddProjectModal"].setGitlabProject(gitlab_project);
            $this.$refs["AddProjectModal"].showModal();
          });
        });
    }
  }
};
</script>
<style>
.vpn-link-icon {
  color: red;
}
.vpn-link-icon.connected {
  color: green;
}
</style>
